html {
background: #000;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
}
* {
float: left;
padding: 0;
margin: 0;
font-family: 'avenir next';
font-weight: normal;
transition: all 0.2s ease;
}
img {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}
h1, h2, h3, h4, h5, h6 {
color: white;
}


/*  Top with actionType */
#top_nav {
background: linear-gradient(rgba(5, 25, 50, 1), rgba(0, 0, 0, 1));
box-shadow: 0px 10px 10px #000;
}
#dropdown_countries {
background: none;
border: none;
}
#inputactiontype {
background: rgba(0, 0, 0, 0);
border: none;
color: white;
}
::-webkit-input-placeholder {
    color:    #fff;
   opacity:  0.75;
}
:-moz-placeholder { 
   color:    #fff;
   opacity:  0.75;
}
::-moz-placeholder { 
   color:    #fff;
   opacity:  0.75;
}
:-ms-input-placeholder {
   color:    #fff;
   opacity:  0.75;
}
::-ms-input-placeholder { 
   color:    #fff;
   opacity:  0.75;
}
#top_nav_left {
color: white;
}
#top_nav_left h3 {
color: white;
font-weight: normal;
}

/*  Side navigation */


/*  Bottom player */
#bottom_player {
background: linear-gradient(rgba(0, 0, 0, 1), rgba(5, 25, 50, 1));
box-shadow: 0px -10px 10px #000;
}
#controls {
background: none;
color: white;
}
#controls button {
color: white;
border: 0px solid white;
}
#levdown, #levup {
background: none;
border-radius: 60px;
}
#levdown:hover, #levup:hover {
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0.25) 100%);
border-radius: 60px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#playbutton {
background: none;
border-radius: 80px;
}
#playbutton:hover {
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0.25) 100%);
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#display {
color: white;
text-shadow: 0px 0px 10px #000;
}
#clock {
color: white;
text-shadow: 0px 0px 10px #000;
}


/*  Stations */
#channel_nav {
background: rgba(0, 0, 0, 0);
}
#channel_nav label {
color: white;
font-weight: normal;
text-shadow: 2px 2px 10px #000;
border-left: 10px solid rgba(255, 255, 255, 0);
}
#channel_nav label:hover {
background: rgba(5, 25, 50, 1);
}
#channel_nav input[type="radio"]:checked + label {
background: rgba(5, 25, 50, 1);
border-left: 10px solid rgba(255, 255, 255, 1);
}
.cntry {
font-size: 16px;
}
#channels button {
background: rgba(0, 0, 0, 0); 
border: none;
border-radius: 10px;
text-shadow: 0px 0px 10px #000;
}
#channels button:hover {
background: rgba(5, 25, 50, 1);
}
#channels h6 {
color: white;
font-weight: normal;
font-family: 'avenir next';
text-shadow: 0px 0px 10px #000;
}
#channels button span {
color: red;
}
#channels button:active {
color: white;
}


/*  Favorites */
#main_favorites {
color: white;
}
#main_favorites button {
background: rgba(0, 0, 0, 0); 
border: none;
text-shadow: 0px 0px 10px #000;
}
#main_favorites button:hover {
background: rgba(5, 25, 50, 1);
}
#main_favorites h6 {
color: white;
font-weight: normal;
font-family: 'avenir next';
text-shadow: 0px 0px 10px #000;
}
#main_favorites button span {
color: red;
}
#main_favorites button:active {
color: white;
}
.infavbutton {
background: white;
border-radius: 64px;
}


/*  In navigation */
.main_t h1 {
font-weight: normal;
}
.main_tn {
border-radius: 10px;
}
.main_tn input[type="radio"] + label {
color: white;
background: linear-gradient(to top, rgba(50,50,50,0.75) 0%, rgba(50,50,50,0.75) 50%, rgba(255,255,255,0.75) 100%);
}
.main_tn input[type="radio"]:checked + label {
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
background: linear-gradient(to bottom, rgba(10,10,10,0.75) 0%, rgba(50,50,50,0.75) 50%, rgba(255,255,255,0.75) 100%);
}


/*  Settings */
#main_settings {
color: white;
}
#in_settings {
background: none;
color: black;
border-radius: 10px;
}
#setting_visual, #setting_audio, #setting_legal {
background: linear-gradient(to bottom, rgba(200,200,200,0.75) 0%, rgba(200,200,200,0.75) 50%, rgba(255,255,255,0.75) 100%);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
border-radius: 10px;
}
.setting_box {
border-radius: 10px;
}
.setting_box h2 {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.setting_box button {
background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
border-radius: 10px;
border: none;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
.setting_box button:hover {
background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.75));
border-radius: 10px;
border: none;
box-shadow: 0px 0px 10px #000;
}
.setboxname {
background: rgba(0, 0, 0, 0.5);
border: none;
color: white;
}


/*  Recent played */
#main_recent {
color: none;
}
#history_box {
background: none;
color: white;
}
#log {
border-radius: 10px;
box-shadow: 0px 0px 10px #000;
background: white;
color: black;
}
#history_channel {
color: green;
background: grey;
}


/*  Player */
#main_player {
background-image: linear-gradient(to bottom, #013 0%, #149 100%);
}
#player_display {
color: white;
font-weight: lighter; 
text-shadow: 0px 0px 10px #000;
}
#player_controls {
background: none;
}
#player_controls button {
border: none;
}
#player_levdown, #player_levup {
background: none;
border-radius: 120px;
}
#player_levdown:hover, #player_levup:hover {
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0.25) 100%);
border-radius: 120px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#player_playbutton {
background: none;
border-radius: 160px;
}
#player_playbutton:hover {
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0.25) 100%);
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#player_clock {
color: white;
font-weight: light;
text-shadow: 0px 0px 10px #000;
}
#exit_player {
background: none;
border: none;
border-radius: 64px;
color: red;
}
#exit_player img {
border-radius: 64px;
}
#favoritebutton_player {
background: none;
border: none;
border-radius: 64px;
color: red;
}
#favoritebutton_player img {
border-radius: 64px;
}
